{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <style>
        a {
            color: white;
        }
        div
        {
            margin-left: 20px;
            margin-right: 150px;
        }
    </style>
    <br><br>
    <h1>Edit Categorie</h1>
    <br>
    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn btn-secondary"> <a href="{{ path('categorie_index') }}">back to list</a></button>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
